<!DOCTYPE HTML>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Contact | MadecodingComlab</title>

	<!-- Bootstrap Files -->
	<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Stylesheet -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/ca0905f6a5.js"></script>
	<!-- TechSavvy Font -->
	<link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
	<!-- Headings Blog -->
	<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
	<!-- Paragraph Blog -->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
	<link href="css/jquery-ui.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>



</head>
<body>
	<!-- Class Blog = Main Div Except Footer -->
	<div class="blog">
		<!-- Navbar -->

		<nav class="navbar navbar-expand-md navbar-light bg-dark">
		  <a class="navbar-brand" href="#"><i class="fas fa-laptop-code"></i> MadecodingComlab</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="index.html">Home</a>
		      </li>

						<li class="nav-item">
			        <a class="nav-link" href="news.html">News</a>
			      </li>

						<li class="nav-item ">
							<a class="nav-link" href="http://grader.mobcomlab.com">Problem for programmers</a>
						</li>


						<li class="nav-item">
							<a class="nav-link" href="about.html">About</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="Team64.html">Team 64</a>
						</li>

		      <li class="nav-item active">
		        <a class="nav-link" href="contact.html">Contact</a>
		      </li>

		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" id="autocomplete" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
		    </form>
		  </div>
		</nav>

		<!-- Navbar Ends -->

		<!-- Main Section -->

		<!-- web - Left Panel -->
		<div class="container">
			<div>
				<div class="row">
					<div class="col-md-4 title">
						<h1 class="text-blog">Contact Us</h1>
						<!-- <p class="lead-para">- <a href="#">#teamalphacodegoa</a></p> -->
					</div>
				</div>
			</div>

			<!-- Contact Us Section -->

			<div class="about">
				<div class="container">
					<div class="row contact-section">
						<div class="col-md-7">
							<h5 class="contactHeading">If you have problem about programing  </h5>
							<h5 class="contactHeading">You can ask our generous contributor  </h5>

							<!--form method="POST" action="contact.php" name="frm">
								<div class="form-group">
									<input type="text" name="name" id="name" class="form-control" placeholder="Full Name" ng-model="user.name" required> <span style="color:red; font-weight: bold;" ng-show="frm.name.$error.required">Required</span>
								</div>
								<div class="form-group">
									<input type="email" name="email" id="email" class="form-control" placeholder="Email" ng-model="user.email" required> <span style="color:red; font-weight: bold;" ng-show="frm.email.$error.required">Email Please</span> <span style="color:red; font-weight: bold;" ng-show="frm.email.$error.email">Email not in a proper format</span>
								</div>
								<div class="form-group">
									<input type="text" name="phone" id="phone" class="form-control" placeholder="Phone No." ng-model="user.phone" ng-minlength = "10" ng-maxlength = "12" required> <span style="color:red; font-weight: bold;" ng-show="frm.phone.$error.minlength">Phone Number less than 10</span> <span style="color:red; font-weight: bold;" ng-show="frm.phone.$error.required">Phone Number please</span> <span style="color:red; font-weight: bold;" ng-show="frm.phone.$error.maxlength">Phone Number too long</span>
								</div>
								<div class="form-group">
									<textarea name="message" cols="30" id="message" rows="5" class="form-control" ng-model="user.message" required></textarea> <span style="color:red; font-weight: bold;" ng-show="frm.message.$error.required">Message Please</span>
								</div>
								<div class="form-group">
									<input type="submit" name="submit" value="Submit" id="mysubmit" class="btn btn-info submit" ng-disabled = "frm.$invalid">
								</div>
							</form-->

						</div>
						<div class="col-md-5">
							<div class="address">
								<h5 class="contactHeading">Address</h5>
								<div class="cont-panel">
									<h6>Location</h6>
									<p>Phitsanulok - Nakhon Sawan 99 Moo 9</p>
									<p>Tha Pho Subdistrict</p>
									<p>Mueang Phitsanulok</p>
									<p>Phitsanulok Thailand</p>
									<p>65000<p/>
								</div>
								<div class="cont-panel">
									<h6>Contact No.</h6>
									<p>0862024971</p>
								</div>
								<div class="cont-panel">
									<h6>Email</h6>
									<p><a href="mailto: madecodingcomlab@gmail.com">madecodingcomlab@gmail.com</a></p>
								</div>
								<div class="cont-panel">
									<h6>Discord</h6>
									<p><a href="https://discord.gg/kaV7ARabHk">MeltDownCoding</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="embed-responsive maps embed-responsive-16by9">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.6064814394194!2d100.19111281474903!3d16.74647558846569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30dfbe986affc42d%3A0xf04fb558f3130f0!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LiZ4LmA4Lij4Lio4Lin4Lij!5e0!3m2!1sth!2sth!4v1620677314465!5m2!1sth!2sth" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>
					</div>
				</div>
			</div>

			<!-- Contact Us Section Ends -->

		</div>
		<!-- web - Left Panel ENDS -->


		<!-- Main Section Ends -->

		<footer class="container-fluid">
		 <p>Made in Phitsanulok ❤❤❤</p>
			<p> <a href="https://www.facebook.com/profile.php?id=100006123256688"><i class="fab fa-facebook-square"></i></a> | <a href="https://www.youtube.com/channel/UCsK6LK97jTdlgB6Lrmy9DJQ"><i class="fab fa-youtube-square"></i></a>| <a href="https://www.instagram.com/_______knp___krit/"><i class="fab fa-instagram"></i></a> | <a href="https://twitter.com/kkunaa_sd"><i class="fab fa-twitter"></i></a> | <a href="https://github.com/KanapongAiamtip"><i class="fab fa-github"></i></a></p>
		</footer>
	</div>

	<script src="external/jquery/jquery.js"></script>
	<script src="jquery-ui.js"></script>

	<!-- Script Files -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
